{%extends 'light/layout.html'%}


      {%block content%}

      <div class="cover-v1 jarallax"  id="home-section">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-md-10 mx-auto text-center">
              <h1 class="heading" data-aos="fade-up">E-Book Store</h1>
              <h2 class="subheading" data-aos="fade-up" data-aos-delay="100">A Genre-Inclusive E-Commerce Platform for Book Enthusiasts.</h2>
            </div>

          </div>
        </div>

        <!-- dov -->
        <a href="#portfolio-single-section" class="mouse-wrap dark smoothscroll">
          <span class="mouse">
            <span class="scroll"></span>
          </span>
          <span class="mouse-label">Scroll</span>
        </a>

      </div>
      <!-- END .cover-v1 -->

      <div class="container">
        <div class="portfolio-single-wrap unslate_co--section" id="portfolio-single-section">
            <div class="portfolio-single-inner">
              
              <h2 class="heading-portfolio-single-h2">E-Book Store</h2>
              
              
              <div class="row justify-content-between align-items-stretch">

                <div class="col-lg-8">
                  <p><a href="../../static/assets/img/book1.png" data-fancybox="gal"><img src="../../static/assets/img/book1.png" alt="Image" class="img-fluid"></a></p>
                  <!-- <p><a href="images/work_2_a_full.jpg" data-fancybox="gal"><img src="../img/book2.png" alt="Image" class="img-fluid"></a></p> -->
                  <p><a href="../../static/assets/img/book3.png" data-fancybox="gal"><img src="../../static/assets/img/book3.png" alt="Image" class="img-fluid"></a></p>
                </div>
                <div class="col-lg-4 pl-lg-5">
                  <div class="unslate_co--sticky">
                    <div class="row">
                      <div class="col-md-12 mb-4">
                        <div class="detail-v1">
                          <span class="detail-label">Project Description</span>
                          <p>
                            E-Book is a cutting-edge e-commerce platform designed to cater to the diverse preferences of book lovers. Developed using React with Vite, this website offers an expansive collection of both physical books and e-books across various genres. With a focus on user experience and efficient performance, E-Book provides a seamless shopping experience for readers looking to explore new titles or purchase their favorite books online.</p>
                        </div>
                      </div>

                      <div class="col-md-12 mb-4">
                        <div class="detail-v1">
                          <span class="detail-label">Project Date</span>
                          <span class="detail-val">January, 2023</span>
                        </div>
                      </div>
                      <div class="col-md-12 mb-4">
                        <div class="detail-v1">
                          <span class="detail-label">Technologies</span>
                          <span class="detail-val" ><a href="#">Identity</a>, <a href="#">React-Vite App</a></span>
                        </div>
                      </div>
                      <div class="col-md-12 mb-4">
                        <div class="detail-v1">
                          <span class="detail-label">Client</span>
                          <span class="detail-val">Demo</span>
                        </div>
                      </div>
                      <div class="col-md-12 mb-4">
                        <div class="detail-v1">
                          <span class="detail-label">Visit</span>
                          <span class="detail-val"><a href="https://book-store-j9u7.vercel.app/" target="_blank">https://book-store-j9u7.vercel.app/</a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
              </div>
              
            </div>
        </div>

      </div>
    </div>
{%endblock%}