{%extends 'light/layout.html'%}


      {%block content%}

      <div class="cover-v1 jarallax" id="home-section">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-md-10 mx-auto text-center">
              <h1 class="heading" data-aos="fade-up">Heartful Connect</h1>
              <h2 class="subheading" data-aos="fade-up" data-aos-delay="100">Discover a Safe Space Where you can Share Your Stories.</h2>
            </div>

          </div>
        </div>

        <!-- dov -->
        <a href="#portfolio-single-section" class="mouse-wrap dark smoothscroll">
          <span class="mouse">
            <span class="scroll"></span>
          </span>
          <span class="mouse-label">Scroll</span>
        </a>

      </div>
      <!-- END .cover-v1 -->

      <div class="container">
        <div class="portfolio-single-wrap unslate_co--section" id="portfolio-single-section">

          <div class="portfolio-single-inner">
            <h2 class="heading-portfolio-single-h2">Heartful Connect</h2>

            <div class="row justify-content-between mb-5">
              <div class="col-12 mb-4">
                <div class="owl-carousel single-slider">
                  <figure class="mb-4">
                    <img src="../../static/assets/img/H3.png" alt="Image" class="img-fluid">
                  </figure>
                  <figure class="mb-4">
                    <img src="../../static/assets/img/HC1.png" alt="Image" class="img-fluid">
                  </figure>
                </div>
              </div>
              <div class="col-12 mb-5">
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="detail-v1">
                      <span class="detail-label">Project Date</span>
                      <span class="detail-val">October 9th, 2023</span>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="detail-v1">
                      <span class="detail-label">Technologies</span>
                      <span class="detail-val"><a href="#">Identity</a>, <a href="#">Html, CSS, JavaScript, JQuery, AJAX, Pyhton(flask), MYSQL</a></span>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="detail-v1">
                      <span class="detail-label">Client</span>
                      <span class="detail-val">Personal Project</span>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="detail-v1">
                      <span class="detail-label">Visit</span>
                      <span class="detail-val"><a href="#"></a></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pr-md-5">
                <p>   Welcome to Heartful Connections, a compassionate community dedicated to supporting your emotional well-being.
                  Our platform provides a safe space for individuals to share their stories, connect with like-minded souls, and find solace in the journey towards healing and growth.</p>
              </div>
              <div class="col-md-6 pl-md-5">
                <p>Our team of skilled therapists and empathetic listeners are here to accompany you on your path to self-discovery and resilience. Whether you're seeking guidance, understanding, 
                  or simply a place to connect, Heartful Connections is here to nurture your heart and empower your spirit.</p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>


  {%endblock%}
